[package]
name = "code-assistant"
version = "0.1.2"
edition = "2021"

[dependencies]
glob = "0.3"
ignore = "0.4"
walkdir = "2.4"
tokio = { version = "1.36", features = ["full"] }
tempfile = "3.10"

# HTTP Requests
chromiumoxide = { version = "0.5", features = ["tokio-runtime"] }
reqwest = { version = "0.11", features = ["json", "stream"] }
futures = "0.3"
percent-encoding = "2.3"
scraper = "0.18"
url = "2.5"
htmd = "0.1.6"

# WebSocket Support
tokio-tungstenite = "0.24"

# JSON (de)serialization
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# Error handling
anyhow = "1.0"
thiserror = "1.0"
regex = "1.9"

# Logging
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

# CLI
clap = { version = "4.5", features = ["derive"] }

async-trait = "0.1"
dotenv = "0.15"
dirs = "5.0"

# Date and time handling
chrono = { version = "0.4", features = ["serde"] }

# File content inspection
content_inspector = "0.2"

[dev-dependencies]
axum = "0.7"
bytes = "1.5"
